@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-weight: bold;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #221306;
}
body {
    margin:0;
}
h1 {font-size: 3em;}
h2 {font-size: 2.7em;}
h3 {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.25em;}

.container {
    height: 100vh;
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iniciar  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iniciar h1 {
    color: white;
    font-size: 4em;
    margin: 6vh 0;
}
.iniciar form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iniciar form .texto {
    outline: none;
    padding-left: 2vh;
    width: 80%;
    height: 5vh;
    border-radius: 1.2vw;
    margin-bottom: 8vh;
}
.iniciar form .entrar  {
    outline: none;
    color: white;
    font-size: 2em;
    padding: 1.5vh 3vh;
    background-color: #A55400;
    border-radius: 1.2vw;
}
.iniciar form .entrar:hover {
    background-color: #703d06;
    cursor: pointer;
}

.iniciar .olvidaste {
    font-size: 1.5em;
    margin-top: 10vh;
    color: #216FDB;
    transition: transform 0.3s;
}
.iniciar .olvidaste:hover{
    transform: translateY(-1vh);
}
.iniciar .barra {
    margin-top: 7vh;
    align-items: center;
    width: 80%;
    display: flex;
    color: white;
    font-size: 1em;
}
.iniciar .barra hr {
    margin: 0 5px;
    background-color: white;
    height: 0.1vh;
    width: 100%;
}
.iniciar .crear {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 1.5vh;
    color: white;
    margin-top: 10vh;
    background-color: #176F10;
    border-radius: 1.2vw;
}
.iniciar .crear:hover {
    background-color: #114e0c;
    cursor: pointer;
}
.registrar form .entrar {
    display: flex;
    margin-left: 10%;
    align-self: flex-start;
    font-size: 2em;
    padding: 1.5vh 3vw;
}


@media (max-width:385px) {
    html {
        font-size: 40%;
    }
}
@media (max-width:225px) {
    html {
        font-size: 30%;
    }
}
@media (min-width: 930px) {
    .iniciar form {
        width: 60%;
    }
    .iniciar form .texto {
        height: 6.5vh;
    }
    .iniciar .barra {
        overflow: hidden;
        width: 44%;
    }
    html {
        font-size: 70%;
    }
}






